
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #E0FFFF, #FFC0CB);
  font-family: Arial, sans-serif;
  color: #333;
}

.container {
  max-width: 600px;
  margin: 100px auto;
  padding: 20px 5px;
  background: linear-gradient(to left, #3466d1, #FF1493);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.5);
}


header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: #ffffff;
}


.row {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease;
}

.row:hover {
  transform: scale(1.05);
}

img {
  margin-right: 10px;
}

input[type="number"] {
  padding: 10px;
